profiles{
    standard {
        process {
            executor = 'slurm'
            withLabel: 'multithread' {
                queue = 'campus-new'
                cpus = 2
                memory = 2.GB
                time = '1h'
                clusterOptions = "-A matsen_e"
            }
        }
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = '/fh/scratch/delete30/matsen_e/jgallowa/temp/containers/'
            runOptions = '--contain -W /tmp/'
        }
    }
}
